<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<script src="angular.min.js"></script>
		<title>Página 07</title>
	</head>
	
	<body>
		<h1>Sétimo Exemplo de AngularJS</h1>

		<div ng-app="">
			<p><label for="nome">Nome:</label>
			<input type="text" id="nome" ng-model="nome">
			</p>

			<p><label for="sobrenome">Sobrenome:</label>
			<input type="text" id="sobrenome" ng-model="sobrenome">
			</p>

			<p>Nome completo: {{ nome + ' ' + sobrenome }}</p>
		</div>
	</body>
</html>